@tailwind base;
@tailwind components;
@tailwind utilities;

.header {
  background-image: url(./images/bg5.jpg);
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
}
